<div class="text-center">
<%= render partial: 'layouts/flash' %>
</div>
<div class ="container">
  <div class="row">
    <div class="col mt-3">
      <% if @customer.name == "ゲスト" %>
        <%= render partial: 'layouts/flash' %>
      <% end %>
      <div class="row border-bottom">
        <%= render 'public/customers/myprofile', customer: @customer %>
      </div>
      <div class="row">
        <%= render 'public/photos/index', photos: @photos  %>
      </div>
    </div>
  </div>
</div>
