<div class="text-center">
<%= render partial: 'layouts/flash', class: "text-center" %>
</div>
<div class="container">
  <div class="row">
    <div class="col mt-5 border-bottom">
      <h3>投稿一覧
          <%= link_to new_photo_path do %>
            <button type="button" class="btn btn-success rounded-circle p-0 ml-5" style="width:2rem;height:2rem;">＋</button>
          <% end %>
      </h3>
    </div>
  </div>
  <div class="row">
    <%= render 'public/photos/index', photos: @photos  %>
  </div>
  <div class="mt-5">
    <%= paginate @photos %>
  </div>
</div>