<div class="text-center">
  <%= render partial: 'layouts/flash', class: "text-center" %>
</div>
<div class="container">
  <div class="row">
    <div class="col mt-5 border-bottom">
      <h3>投稿一覧</h3>
    </div>
  </div>
  <div class="row">
    <%= render 'admin/photos/index', photos: @photos  %>
  </div>
  <div class="mt-5">
    <%= paginate @photos %>
  </div>
</div>