<div class ="container">
  <div class="row">
    <div class="col mt-3">
      <h2 class="text-center">写真で繋がる</h2>
      <p class="mt-5 text-center abouttext">Photocomyuは、写真好きによる写真好きのためのコミュニケーションアプリです。</p>
      <p class="mt-5">過ぎた時間は戻ってきません。ですが流れる時間の一瞬を切り取り、思い出を形として残せる。それが写真です。<br>
      早朝に山登りして見に行った雲海、お祭りで見た花火、おいしかった料理など写真に残すことで思い出が明確な形として残ります。そしてそれは一つの作品にもなれる可能性を秘めています。<br>
      photocomyuを通して写真の構図を参考にしたり、思い出の共有の場としてご利用ください。</p>
      <div class="menber mt-5">
        <div class="row">
            <div class="col-3">
              <%= image_tag 'baby_boy01_smile.png', width: '100%', height: '200px' %>
            </div>  
            <div class="col-9 mt-3">
              <strong>長谷部</strong><br>
              <p class="mb-3" style="color: gray;">アプリ設計者/プログラマーの赤ちゃん</p>
              <p>科学の力に惹かれホグワーツ魔法魔術学校を中退、DMMで勉強しこのアプリを作成する。<br>
              部分テンプレートはあればあるだけ便利だと思って作ったが、使いまわした結果二重、三重になるとどんどんわけがわからなくなり使い勝手が悪くなったのでほどほどにしようと思った。<br>このアプリのトップページは携帯とPCでガラッと印象変わるから気になる方はPCでもアクセスしてみてください！！<br>
              </p>
        　　</div>
        </div>
      </div>
    </div>
   </div>
</div>