<div class="jumbotron">
<div class="container-fluid bg-dark">
      <%= image_tag 'fujifilm-camera-1100x733.jpg', width: '30%', height: '50%' %>
 </div>
</div>
<div class="container">
  <div class="row">
    <div class="col mt-3">
      <div class="text-center">
        <h3>写真でつながるコミュニティサイトです。<br>
            投稿される場合は会員登録をお願い致します。
        </h3>
      </div>
    </div>
  </div>
</div>
