<div class="jumbotron">
  <div class="main-container">
     
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col mt-3">
      <div class="text-center">
        <h3>写真でつながるコミュニティサイトです。<br>
            投稿される場合は会員登録をお願い致します。
        </h3>
      </div>
    </div>
  </div>
</div>
