<div class ="container">
  <div class="row">
    <div class="col mt-3">
      <div class="row border-bottom">
        <%= render 'admin/customers/customer_profile', customer: @customer %>
      </div>
      <div class="row">
        <div class="col-3 mr-auto mt-3 border-bottom mb-3">
          <h3>フォロー一覧</h3>
        </div>
        <div class="w-100"></div>
        <%= render 'admin/customers/follow_list', customers: @customers %>
      </div>
    </div>
  </div>
</div>
