<div class="text-center">
<%= render partial: 'layouts/flash' %>
</div>
<div class ="container">
  <div class="row">
    <div class="col mt-3">
      <div class="row border-bottom">
        <%= render 'admin/customers/customer_profile', customer: @customer %>
      </div>
      <div class="row">
        <%= render 'admin/photos/index', photos: @photos  %>
      </div>
    </div>
  </div>
</div>
