<div class ="container">
  <div class="row">
    <div class="col mt-3">
      <div class="row border-bottom">
        <%= render 'public/customers/myprofile', customer: @customer %>
      </div>
      <div>
        <div class="col-11 col-md-4 mr-auto mt-3 border-bottom mb-3">
          <h3>フォロワー一覧</h3>
        </div>
        <div class="row">
          <%= render 'public/follows/follow_list', customers: @customers %>
        </div>
      </div>
    </div>
  </div>
</div>
