<div class ="container">
  <div class="row">
    <div class="col mt-3">
      <div class="row border-bottom">
        <%= render 'public/customers/myprofile', customer: @customer %>
      </div>
      <div class="row">
        <%= render 'public/follows/follow_list', customers: @customers %>
      </div>
    </div>
  </div>
</div>
