@import '~bootstrap/scss/bootstrap';
@import '@fortawesome/fontawesome-free/scss/fontawesome';

.main-visual {
  background-color: black;
  position: relative;
  width: 100%; 
  height: 400px;
}

.box {
  height: 400px;
  width: 600px;
}
.main-visual-content {
  background-image: url("../../assets/images/marigold-1568646_1280.jpg");
   object-fit: cover;
    width: auto;
    height: auto;
}

.visual-text {
  position: absolute;
  color: white;
  font-family :Quicksand, sans-serif;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
}



/*ページネーション自体のデザイン*/
.pagination>li>a {          
  border: none;    /*枠線をなくす*/  
  color: #696969;   /*文字の色を変える*/
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {     
  background: #93c9ff;     /*背景の色を変える*/
  border-radius: 15px;     /*角を丸くする*/
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {        
  border-radius: 15px;    /*角を丸くする*/
}

.pagination {
  justify-content: center;
}

html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

footer {
  width: 100%;
}

.fbody {
  width: 100%;
}