@import '~bootstrap/scss/bootstrap';
@import '@fortawesome/fontawesome-free/scss/fontawesome';

.jumbotron {
  background-image: url("../../assets/images/abandoned-1550547_960_720.jpg");
    background-size:cover;
    filter: blur(5px);
}

